.product{
  padding: 105px 0 120px;
  text-align: center;
  &__items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 45px 30px;
  }
  &__link{
    text-transform: uppercase;
    color: $title;
    display: inline-block;
    border: 1px solid $accent;
    padding: 14px 27px;
    margin-top: 55px;
  }
}

.product-item{
  max-width: 370px;
  text-align: center;
  &.product-item--list{
    min-width: 100%;
    display: flex;
    text-align: left;
    &:hover{
      .product-item__link-box{
        transform: translateY(-280%);
      }
    }
    .product-item__img-box{
      height: 250px;
      min-width: 200px;
      margin-bottom: 0;
      img{
        height: 250px;
      }
    }
    .product-item__text{
      margin-bottom: 25px;
    }
    .product-item__btn{
      color: #fff;
      padding: 11px 40px;
      background-color: $title;
      border: none;
      cursor: pointer;
      &:hover{
        background-color: $accent;
        box-shadow: 0px 7px 20px 0px rgba(255, 17, 48, 0.3);
      }
    }
    .product-item__link-box{
      background-color: transparent;
      width: 115px;
      box-shadow: none;
      bottom: auto;
      .product-item__link{
        width: 50px;
        height: 50px;
        background-color: #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .product-item__link--line{
        display: none;
      }
    }
    .product-item__content-box{
      display: block;
    }
    .product-item__title{
      order: -1;
      width: 100%;
      padding: 0;
      margin-bottom: 10px;
    }
    .product-item__price{
      order: -1;
      margin-left: -12px;
    }
    .star{
      margin-left: 23px;
    }
    .product-item__box{
      display: flex;
      flex-wrap: wrap;
    }
    .product-item__wrapper-box{
      padding: 30px 40px;
      border: 1px solid #ececec;
    }
  }
  &__content-box{
    display: none;
  }
  &__img-box{
    position: relative;
    height: 370px;
    overflow: hidden;
    margin-bottom: 25px;
  }
  &__link-box{
    transition: all .3s;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;
    background-color: #fff;
    display: inline-block;
    width: 220px;
    height: 50px;
    margin: 0 auto;
    box-shadow: 0 5px 30px 0 rgba(152, 152, 152, 0.2);
    border-radius: 22px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transform: translateY(300%);
  }
  &__link--line::before,
  &__link--line::after{
    content: '';
    position: absolute;
    width: 1px;
    height: 30px;
    background-color: #ececec;
    top: 10px;
  }
  &__link--line::before{
    left: 70px;
  }
  &__link--line::after{
    right: 70px;
  }
  &__link{
    display: inherit;
    path{
    transition: all .3s;
    }
  }
  &__link:hover{
    path{
      fill: $accent;
    }
  }
  &__images{
    object-fit: cover;
  }
  &:hover{
    .product-item__link-box{
      transform: translateY(0);
    }
  }
  &__title{
    color: $title;
    padding: 15px 0 20px;
  }
  &__price{
    display: flex;
    justify-content: center;
    @extend %roboto-400;
  }
  &__new-price{
    padding: 0 12px;
    color: $title;
  }
  &__old-price{
    padding: 0 12px;
    text-decoration: line-through;
  }
  &--sale{
    .product-item__img-box::before{
      content: "SALE";
      @extend %btn;
      position: absolute;
      top: 25px;
      left: 25px;
      line-height: 1;
    }
  }
}

.star{
  margin: 0 auto;
}