@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


















.modal{
  padding-top: 100px;
  max-width: 570px;
  margin: 0 auto 115px;
  &__links{
    text-align: center;
    margin-bottom: 40px;
  }
  &__link{
    color: #909090;
    font-size: 22px;
    @extend %roboto-400;
    text-transform: uppercase;
    margin: 0 30px;
  }
  &__link--active{
    color: $accent;
  }
  &__label{
    margin-bottom: 30px;
    display: block;
  }
  &__input{
    display: block;
    width: 100%;
    border: none;
    background-color: $bg;
    margin-top: 4px;
    height: 60px;
    padding: 0 15px;
  }
  &__btn{
    display: block;
    background-color: $title;
    text-transform: uppercase;
    color: #fff;
    @extend %roboto-400;
    padding: 14px 0;
    border: none;
    width: 100%;
    cursor: pointer;
    margin-top: -15px;
  }
  &__error{
    margin-top: 12px;
    color: $accent;
    display: inline-block;
  }
  &__text{
    margin-bottom: 25px;
  }
}



@import 'media';
