.contact{
  padding-bottom: 120px;
  &__inner{
    display: flex;
  }
  &__info{
    max-width: 370px;
    margin-right: 30px;
  }
  &__info-title{
    @extend %roboto-700;
    font-size: 48px;
    line-height: 58px;
    color: $title;
    margin-bottom: 20px;
  }
  &__info-text{
    margin-bottom: 60px;
  }
  &__info-item{
    color: $title;
    margin-top: 55px;
    padding-left: 80px;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      left: 0;
      top: -5px;
      width: 60px;
      height: 60px;
      box-shadow: 0 5px 20px 0 rgba(146, 146, 146, 0.3);
    }
    &::after{
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      background-image: url('../images/icons/phone-icon.svg');
      left: 20px;
      top: 15px;
    }
  }
  &__info-item--email::after{
    width: 18px;
    left: 21px;
    background-image: url('../images/icons/email-icon.svg');
  }
  &__info-item--location::after{
    width: 14px;
    left: 23px;
    background-image: url('../images/icons/location-icon.svg');
  }
  &__info-phone{
    display: block;
    color: $title;
  }
  &__form{
    box-shadow: 0 5px 20px 0 rgba(146, 146, 146, 0.3);
    padding: 60px 40px;
    width: 100%;
  }
  &__form-title{
    @extend %roboto-700;
    margin-bottom: 20px;
    font-size: 22px;
    color: $title;
  }
  &__form-input{
    width: 100%;
    display: block;
    height: 60px;
    background-color: $bg;
    border: none;
    padding: 0 24px;
    margin-bottom: 30px;
  }
  &__form-textarea{
    width: 100%;
    display: block;
    resize: none;
    height: 200px;
    background-color: $bg;
    border: none;
    padding: 24px;
    margin-bottom: 30px;
  }
  &__form-box{
    display: flex;
    justify-content: space-between;
    input{
      width: 330px;
    }
  }
  &__form-btn{
    @extend %btn;
    border: none;
  }
}

@media (max-width: 1100px){
  .contact{
    &__inner{
      display: block;
    }
    &__info{
      margin-right: 0;
      max-width: 100%;
      margin-bottom: 30px;
    }
    &__form{
      box-shadow: none;
      padding: 0;
    }
    &__form-box{
      display: block;
      input{
        width: 100%;
      }
    }
  }
}

@media (max-width: 450px){
  .contact{
    &__info-title{
      font-size: 28px;
      line-height: 34px;
    }
  }
}

@media (max-width: 375px){
  .contact{
    &__info-item{
      padding-left: 55px;
      &::before{
        top: 1px;
        width: 50px;
        height: 50px;
      }
      &::after{
        top: 16px;
        left: 16px;
      }
    }
  }
}