.shop{
  padding: 120px 0 105px;
  &__inner{
    display: flex;
  }
  &__filters{
    width: 370px;
    margin-right: 30px;
  }
}

@media (max-width: 1230px) {
  .shop{
    &__inner{
      display: block;
    }
    &__filters{
      display: none;
      width: 100%;
      margin-right: 0;
      position: absolute;
      top: 20px;
      left: 0;
      z-index: 100;
      background: #fff;
    }
  }
}