.blog-one{
  &__text{
    border: 1px solid #ececec;
    border-top: none;
    padding: 30px;
    margin-top: -1px;
    h4{
      color: $title;
      font-size: 22px;
      @extend %quicksand-500;
      margin: 25px 0;
    }
    p{
      margin: 25px 0;
    }
    blockquote{
      background-color: $bg;
      border-left: 3px solid $accent;
      color: $title;
      @extend %roboto-400;
      font-size: 22px;
      margin: 25px 0;
      padding: 35px;
    }
  }
  &__left-img{
    float: left;
    margin-right: 30px;
    margin-bottom: 10px;
  }
  &__right-img{
    float: right;
    margin-right: 30px;
    margin-bottom: 10px;
  }
  &__info{
    display: flex;
    margin-bottom: 25px;
  }
  &__info-link{
    margin-right: 30px;
    padding-left: 28px;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      left: 0;
      top: 1px;
      background-image: url('../images/icons/calendar.svg');
      width: 16px;
      height: 16px;
    }
  }
  &__info-link--author::before{
    background-image: url('../images/icons/user-blog.svg');
    top: 2px
  }
  &__info-link--comment::before{
    background-image: url('../images/icons/comment.svg');
    top: 3px;
  }
  &__form-title{
    text-transform: uppercase;
    margin: 35px 0 25px;
    color: $title;
    @extend %roboto-700;
    font-size: 24px;
  }
  .comments-form{
    border-bottom: none;
  }
  &__box{
    margin: 25px 0 35px;
    display: flex;
    justify-content: space-between;
  }
  &__tags,
  &__share{
    span{
      @extend %roboto-700;
      text-transform: uppercase;
      color: $title;
    }
  }
  &__share{
    a{
      margin-right: 12px;
      vertical-align: middle;
      &:hover{
        path{
          fill: $accent;
        }
      }
      path{
        fill: #727272;
      }
    }
  }
  &__author{
    border-bottom: 1px solid #ececec;
    padding-bottom: 40px;
    margin-bottom: 40px;
    display: flex;
  }
  &__author-img{
    width: 140px;
    height: 140px;
    margin-right: 30px;
    object-fit: cover;
  }
  &__author-name{
    margin-bottom: 24px;
    font-size: 22px;
    @extend %roboto-700;
    color: $title;
  }
}

@media (max-width: 620px){
  .blog-one{
    &__text{
      padding: 20px 10px;
    }
    &__info{
      display: block;
    }
    &__info-item{
      margin-bottom: 10px;
    }
    &__box{
      flex-wrap: wrap;
      padding-right: 10px;
    }
  }
}

@media (max-width: 450px){
  .blog-one{
    &__box{
      display: block;
    }
    &__author-img{
      display: none;
    }
    &__text{
      blockquote{
        padding: 20px;
      }
    }
  }
}