.latest-post{
  padding: 35px 30px 40px;
  border: 1px solid #ececec;
  margin-bottom: 40px;
  &__title{
    color: $title;
    text-transform: uppercase;
    @extend %roboto-400;
    font-size: 22px;
    margin-bottom: 35px;
  }
  &__item{
    margin-bottom: 20px;
    display: flex;
    & + .latest-post__item{
      border-top: 1px solid #ececec;
      padding-top: 20px;
    }
  }
  &__img-link{
    display: block;
    margin-right: 20px;
    min-width: 80px;
  }
  &__img{
    width: 80px;
    height: 80px;
    object-fit: cover;
  }
  &__box-title-link{
    @extend %roboto-400;
    font-size: 18px;
    color: $title;
    line-height: 28px;
  }
  &__date{
    padding-left: 26px;
    position: relative;
    &::before{
      content:'';
      left: 0;
      position: absolute;
      top: 5px;
      background-image: url('../images/icons/calendar.svg');
      width: 16px;
      height: 16px;
    }
  }
}

@media (max-width: 1230px){
  .latest-post{
    display: none;
  }
}