.person{
  border: 1px solid #ececec;
  margin-bottom: 40px;
  text-align: center;
  padding: 40px 25px;
  &__img{
    display: inline-block;
    width: 160px;
    height: 160px;
    object-fit: cover;
    margin: 0 auto 35px;
  }
  &__name{
    color: $title;
    font-size: 18px;
    @extend %roboto-700;
  }
  &__position{
    color: $accent;
    margin-bottom: 25px;
  }
  &__text{
    margin-bottom: 25px;
  }
  &__social-link{
    margin: 0 8px;
    path{
      fill: $default;
      transition: all .3s;
    }
    &:hover{
      path{
        fill: $accent;
      }
    }
  }
}

@media (max-width: 1230px){
  .person{
    display: none;
  }
}