.filter{
  &__item{
    padding: 35px 30px 40px;
    border: 1px solid #ececec;
    margin-bottom: 40px;
  }
  &__title{
    text-transform: uppercase;
    color: $title;
    font-size: 22px;
    @extend %roboto-400;
    margin-bottom: 25px;
  }
}

.filter-search{
  &__form{
    display: flex;
  }
  &__input{
    border: none;
    background-color: $bg;
    height: 50px;
    width: 260px;
    padding: 0 5px 0 15px;
  }
  &__btn{
    border: none;
    background-color: $accent;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}

@media (max-width: 1230px){
  .blog-page{
    .filter-search{
      &__input{
        width: 100%;
      }
    }
  }
}